<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PrototipoObjetiveC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F416270D1E8C1064009C70DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F41627261E8C1064009C70DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F41627311E8C1064009C70DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
